<%- include('../includes/head.ejs' )%>

    <body>
        <header class="main-header">
            <%- include('../includes/nav.ejs' )%>
        </header>

        <main>
            <% if(products.length> 0) { %>
                <ul>
                    <% products.forEach(p=> { %>
                        <li>
                            <p>
                                <%= p.productId.title %> (<%= p.quantity %>)
                            </p>
                            <form action="/card-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <button class="btn">Delete from Card</button>
                            </form>
                        </li>
                        <% }) %>
                </ul>
                <hr>
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
                <% } else { %>
                    <h1>No Products</h1>
                    <% } %>
        </main>
        <%- include('../includes/end.ejs' )%>