<%- include('../includes/head.ejs' )%>

    <body>
        <header class="main-header">
            <%- include('../includes/nav.ejs' )%>
        </header>

        <main>
            <% if(orders.length <=0) {%>
                <h1>Orderlist is empty</h1>
                <% }else{ %>
                    <ul>
                        <% orders.forEach(order=> { %>
                            <li>
                                <h1>Order - #<%= order._id %>
                                </h1>
                                <ul>
                                    <% order.products.forEach(item=> { %>
                                        <li>
                                            <h>
                                                <%= item.product.title %> (<%= item.quantity %>)</p>
                                        </li>
                                        <% }) %>
                                </ul>
                            </li>
                            <% }) %>

                    </ul>
                    <% } %>
        </main>
        <%- include('../includes/end.ejs' )%>